// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo {
	width: 80px;
	height: 60px;
}

#content {
	background-color: rgb(200, 200, 200);
	padding-top: 50px;
}

#footer {
	color: white;
	padding-top: 20px;
	text-align: center;
}

#threecol {
	padding-top: 20px;
}

#information {
	padding-top: 30px;
}

.carousel-inner img {
	margin: auto;
}

hmtl {
	font-family: 'Oswald', sans-serif;
}